$color-ivory: rgb(238, 238, 238);
$color-darkbrown: rgb(88, 80, 82);
$color-gray-1: #8F8E94;
$color-gray-2: rgb(117, 117, 117);
$color-orange-1: #FF9801;
$color-green-1: #2CDD98;
$color-red-1: #FF4F81;
$color-black-1: #212121;
$color-blue-1: #146EB4;
$color-blue-2: #7FC2F7;
$color-blue-3: #4FA1E1;
$color-blue-4: #3369E6;

$font-regular: Roboto;
$font-bold: Roboto_bold;
$font-textarea: arial;